@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    // Default layout height
    --default-layout-header-height: 60px;
    --default-layout-width: 1250px;
    --default-layout-horizontal-spacer: 24px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,
input,
[tab] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
// Nhúng font
@font-face {
    font-family: TikTokFont;
    src: url('~/src/fonts/IBMPlexSans-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: TikTokFont;
    src: url('~/src/fonts/IBMPlexSans-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: TikTokFont;
    src: url('~/src/fonts/IBMPlexSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: TikTokFont;
    src: url('~/src/fonts/IBMPlexSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('~/src/fonts/IBMPlexSans-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: TikTokFont;
    src: url('~/src/fonts/IBMPlexSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('~/src/fonts/IBMPlexSans-Bold.ttf');
    font-weight: 700;
}

//Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        list-style: 2.2rem;
        background-color: rgb(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
    .tippy-arrow {
        background-color: rgb(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
